 body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1, h2, h3 {
            text-align: center;
        }
  h1{
            font-family: 'Roboto', sans-serif;
            font-size: 2.5em;
            color: #FF0000;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 2.5em;
            color:#FF0000;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        .description {
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
th{
            font-family: 'Roboto', sans-serif;
           color: #000000;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
td {
            font-family: 'Roboto', sans-serif;
            color: #000000;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        a {
            text-decoration: none;
            color: #007BFF;
        }
        a:hover {
            text-decoration: underline;
        }
     .video-container {
    max-width: 600px;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 12px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #333333;
    background-size: cover;
    background-position: center;
}
.collapsible {
            cursor: pointer;
            padding: 10px;
            width: 100%;
            text-align: left;
            border: 2px solid #4CAF50; /* Contorno */
            outline: none;
            font-size: 18px;
            font-family: 'Arial', sans-serif; /* Tipo de letra */
            background-color: #f1f1f1;
            color: #4CAF50; /* Color del texto */
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .collapsible:hover {
            background-color: #4CAF50;
            color: white;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f9f9f9;
        }
/* Estilos específicos para pantallas pequeñas */ @media (max-width: 600px) { .collapsible { font-size: 0.7em; /* Ajusta el tamaño de fuente para pantallas pequeñas */ }
        video {
            width: 100%;
            height: 100%;
        }
p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
           color: #000000;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
 /* Estilos específicos para pantallas pequeñas */
        @media (max-width: 600px) {
            .pulse-button i, table, p, h1, h2 {
                font-size: 0.7em; /* Ajusta el tamaño de fuente para pantallas pequeñas */
            }
            .video-container {
                max-width: 600px;
                width: 100%;
                height: auto;
                padding: 5px;
                border: 8px solid #000;
                position: relative;
                padding-bottom: 56.25%; /* Aspect ratio 16:9 */
            }
            .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
